/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/public/assets/upload/*.jpg
/public/assets/upload/*.png
/public/assets/upload/*.mp4
/public/uploads/*.jpg
/public/uploads/*.png
/public/uploads/*.mp4

/public/uploads/category-logo/*.jpg
/public/uploads/category-logo/*.png
/public/uploads/category-logo/*.mp4

/public/uploads/category-thumbnail/*.jpg
/public/uploads/category-thumbnail/*.png
/public/uploads/category-thumbnail/*.mp4

/public/uploads/category-thumbnail/optimized/*.jpg
/public/uploads/category-thumbnail/optimized/*.png
/public/uploads/category-thumbnail/optimized/*.mp4

/public/uploads/course-thumbnail/*
!/public/uploads/course-thumbnail
!/public/uploads/course-thumbnail/course_default.png

/public/assets/*.sql
/vendor
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode

# Ignore macOS .DS_Store files
.DS_Store
/config/database.php
