services:
  app_test:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: talento_app_test
    ports:
      - "8001:80"
    depends_on:
      - db_test
    volumes:
      - .:/var/www/html
    environment:
      DB_CONNECTION: ${DB_CONNECTION}
      DB_HOST: ${DB_HOST}
      DB_PORT: ${DB_PORT}
      DB_DATABASE: ${DB_DATABASE}
      DB_USERNAME: ${DB_USERNAME}
      DB_PASSWORD: ${DB_PASSWORD}

  db_test:
    image: mysql:8.0
    container_name: talento_db_test
    environment:
      MYSQL_DATABASE: ${DB_DATABASE}
      MYSQL_ROOT_PASSWORD: ${DB_PASSWORD}
    ports:
      - "3307:3306"
    volumes:
      - db_data:/var/lib/mysql

volumes:
  db_data:
